textarea.input-field {
	width: 100%;
	min-height: 20px;
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.textinput-icons {
	position: relative;
}

.textinput-icon {
	position: absolute;
	right: 5px;
	top: 10px;
}

.space-around {
	margin: 16px;
}
